/bin/
/.gradle/
/.settings/
/build/
/jars/
/lib/
/.classpath
/.project
/build.gradle
/CREDITS-fml.txt
/forge-1.7.10-10.13.0.1180-changelog.txt
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/rebuild.bat
